body {
  background-color: burlywood;
}

h2 {
  color: brown;
}

article {
  padding: 20px;
}

#articleOne {
  font-family: Arial, Helvetica, sans-serif;
  border: 5px dotted red;
}

#articleTwo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 1px solid purple;
}

#articleThree {
  font-family: Courier, monospace;
  border: 5px dashed brown
}

#articleFour {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  border: 8px solid grey;
}

#articleFive {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 8px dotted goldenrod;
}
